<div class="row">
  <div class="col-md-6">
    <h5>Day 1 - 2 September</h5>
    <table class="table table-striped">
      <tr> <td>Before</td> <td>Install python and the carpentries python environment as detailed in the email </td> </tr>
      <tr> <td>10:00</td>  <td>Welcome and introduction to the workshop</td> </tr>
      <tr> <td>10:15</td>  <td> <a href="{{site.base_python_gapminder}}/01-run-quit.html" target="_blank">Running and Quitting</a> </td> </tr>
      <tr> <td>10:30</td>  <td> <a href="{{site.base_python_gapminder}}/02-variables.html" target="_blank">Variables and Assignment</a></td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>11:15</td>  <td><a href="{{site.base_python_gapminder}}/03-types-conversion.html" target="_blank">Data Types and Type Conversion </a></td></tr>
      <tr> <td>11:30</td>  <td><a href="{{site.base_python_gapminder}}/04-built-in.html" target="_blank">Built-in Functions and Help </a></td></tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="{{site.base_python_gapminder}}/06-libraries.html" target="_blank">Libraries </a></td></tr>
      <tr> <td>13:30</td>  <td><a href="{{site.base_python_gapminder}}/11-lists.html" target="_blank">Lists </a></td> </tr>
      <tr> <td>14:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:15</td>  <td><a href="{{site.base_python_gapminder}}/09-plotting.html#matplotlib-is-the-most-widely-used-scientific-plotting-library-in-python-" target="_blank">Making a first plot </a></td></tr>
      <tr> <td>14:25</td>  <td><a href="{{site.base_python_gapminder}}/07-reading-tabular.html" target="_blank">Reading Tabular Data into DataFrames </a></td></tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h5>Day 2 - 9 September </h5>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Welcome and recap of the day 1</td> </tr>
      <tr> <td>10:15</td>  <td><a href="{{site.base_python_gapminder}}/07-reading-tabular.html" target="_blank">Reading Tabular Data into DataFrames (continued) </a></td></tr>
      <tr> <td>10:45</td>  <td><a href="{{site.base_python_gapminder}}/08-data-frames.html" target="_blank">Pandas DataFrames </a></td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>11:15</td>  <td><a href="{{site.base_python_gapminder}}/08-data-frames.html" target="_blank">Pandas DataFrames (continued) </a></td> </tr>
      <tr> <td>11:45</td>  <td><a href="{{site.base_python_gapminder}}/09-plotting.html" target="_blank">Plotting (continued)</a></td></tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="{{site.base_python_gapminder}}/09-plotting.html" target="_blank">Plotting (continued)</a></td></tr>
      <tr> <td>13:15</td>  <td><a href="{{site.base_python_gapminder}}/12-for-loops.html" target="_blank">For Loops </a></td> </tr>
      <tr> <td>14:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:15</td>  <td><a href="{{site.base_python_gapminder}}/13-conditionals.html" target="_blank">Conditionals </a></td> </tr>
      <tr> <td>14:50</td>  <td>Wrap-up and preparation for next session</td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h5>Day 3 - 16 September </h5>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Welcome and recap of the day 2</td> </tr>
      <tr> <td>10:15</td>  <td><a href="{{site.base_python_gapminder}}/14-looping-data-sets.html" target="_blank">Looping Over Data Sets </a></td> </tr>
      <tr> <td>10:40</td>  <td><a href="{{site.base_python_gapminder}}/16-writing-functions.html" target="_blank">Writing Functions </a></td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>11:15</td>  <td>Writing Functions (continued) and <a href="{{site.base_python_gapminder}}/17-scope.html" target="_blank">Variable Scope </a> </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="{{site.base_python_inflammation}}/09-errors.html" target="_blank">Errors and Exceptions </a></td> </tr>
      <tr> <td>13:30</td>  <td>Introduction practice session</td> </tr>
      <tr> <td>14:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:15</td>  <td>Practice session (continued)</td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h5>Day 4 - 23 September </h5>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Welcome and recap of the day 3</td> </tr>
      <tr> <td>10:15</td>  <td><a href="{{site.base_python_inflammation}}/10-defensive.html" target="_blank">Defensive Programming </a> and <a href="{{site.base_python_gapminder}}/18-style.html" target="_blank">Programming Style </a></td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>11:15</td>  <td>Practice session (continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="{{site.base_python_inflammation}}/11-debugging.html" target="_blank">Debugging </a>, good practices and what next </td></tr>
      <tr> <td>13:45</td>  <td>Practice session (continued)</td> </tr>
      <tr> <td>14:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:15</td>  <td>Practice session (continued)</td> </tr>
      <tr> <td>14:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
